body {
    font-family: 'Noto Sans', sans-serif;
}

@media (max-width: 1300px) {
    #launcher {
        justify-content: center !important;
    }
    #background-image {
        height: 1920px !important;
    }
}
