* {
    font-family: 'Roboto', sans-serif; /* Use Roboto, fallback to generic sans-serif */
    margin: 0;
    padding: 0;
}

body {
    background-color: #3c3c3c;
}

.navbar {
    position: sticky;
    background-color: #282828;
    width: 100%;
    height: 80px;
    top: 0px;
    z-index: 100;
    box-shadow: 0 5px 10px;
} .homepage {
    cursor: pointer;
} .navbar #homepage {
    position: absolute;
    width: 200px;
    top: 18px;
    margin: 0px 25px 0px 0px; 
    left: 20px;
} .navbar #menu {
    position: absolute;
    width: 30px;
    right: 30px;
    top: 25px;
    cursor: pointer;
}
